# Ignore OS and IDE files
.DS_Store
Thumbs.db
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp

# Ignore raw datasets (DVC will track)
data/raw/*
!data/raw/*.dvc

# Ignore processed datasets
data/processed/*

# DVC cache
.dvc/cache/
